##TUGAS BESAR KELOMPOK 3

1. 119160095_Yahya Agung Nadabunda
2. 121450006_Ditta Winanda Putri
3. 121450120_M.faqih
4. 121450036_Rika Ajeng Finatih
5. 121450075_Veni Zahara Kartika
6. 121450024_Evan Aprianto

In [ ]:
import pandas as pd

filename = 'IMDb_2020.csv'
df = pd.read_csv('IMDb_2020.csv')
df

,S no,Movie,Rating,No. of votes,Mean,Median,Males,M Rating,Females,F Rating,<18,18-29,30-44,45+
0,1,Tenet,7.3,"4,76,083",7.4,8,"2,35,073",7.3,"32,997",7.1,7.8,7.6,7.2,6.8
1,2,Soul,8.0,"3,15,029",8.1,8,"1,39,120",8.0,"35,325",8.1,8.4,8.2,7.9,7.7
2,3,Wonder Woman 1984,5.4,"2,58,696",5.3,5,"1,29,020",5.3,"21,678",5.9,5.2,5.5,5.3,5.3
3,4,Birds of Prey,6.0,"2,31,720",6.1,6,"2,31,720",5.9,"23,972",6.6,6.4,6.2,6.0,5.8
4,5,The Invisible Man,7.1,"2,20,635",7.1,7,"1,14,618",7.0,"26,262",7.2,7.6,7.3,7.0,6.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Tanhaji: The Unsung Warrior,7.5,"29,443",8.3,10,"12,375",7.2,558,6.5,7.9,7.6,7.0,6.0
96,97,Host,6.5,"28,472",6.6,7,"15,307",6.5,"3,439",6.6,6.3,6.6,6.5,6.4
97,98,Thappad,7.1,"28,243",7.4,9,"8,934",6.8,"1,843",8.1,7.0,7.3,6.8,6.8
98,99,Artemis Fowl,4.2,"27,859",4.4,4,"14,875",4.2,"3,312",4.9,3.4,3.6,4.2,4.9
99,100,The Banker,7.3,"27,609",7.4,7,"16,290",7.2,"2,376",7.5,7.8,7.3,7.2,7.2

In [ ]:
# Deque implementation in python
class Deque:
    def __init__(self):
      self.items = []

    def isEmpty(self):
      return self.items == []

    def addrear(self, item):
      self.items.append(item)

    def addfront(self, item):
      self.items.insert(0, item)

    def deletefront(self):
      return self.items.pop(0)

    def deleterear(self):
      return self.items.pop()

    def size(self):
      return len(self.items)
    
    def display(self):
      return self.items

In [ ]:
p=Deque()

In [ ]:
print('Tampilan list awal')
p.display()

Tampilan list awal

[]

In [ ]:
p.addrear(10)
p.addrear(19)

In [ ]:
print('Tampilan list setelah ditambahkan data dari belakang')
p.display()

Tampilan list setelah ditambahkan data dari belakang

[10, 19]

In [ ]:
p.addfront(6)
p.addfront(99)

In [ ]:
print('Tampilan list setelah ditambahkan data dari depan')
p.display()

Tampilan list setelah ditambahkan data dari depan

[99, 6, 10, 19]

In [ ]:
p.deletefront() #hapus data dari depan

99

In [ ]:
p.deleterear() #hapus data dari belakang

19

In [ ]:
print('Tampilan list setelah dihapus data')
p.display()

Tampilan list setelah dihapus data

[6, 10]

In [ ]:
class UrutFilm(Deque):
    def urut(self):
      print("\nTekan 1 untuk mengurutkan daftar film dari atas kebawah",end='\n') 
      print("atau \nTekan 2 untuk mengurutkan daftar film dari bawah keatas ")
      n = input(str())

      if n == '1':
        for i in range(5):
          d.addrear(input(f'Tuliskan judul film urutan ke-{i+1}: '))
      elif n == '2':
        for j in reversed(range(5)):  
          d.addfront(input(f'Tuliskan judul film urutan ke-{j+1}: '))
      else:
        print("Pahami perintahnya!!!!")

      return d.display()


# Main Program
print('Selamat Datang di Program Urutan Film Terbaik 2020')

print('\nBerikut ini adalah urutan 10 besar film terbaik di tahun 2020 versi imdb')
dm = pd.DataFrame({'Movies':df['Movie'],'Votes':df['No. of votes']})
print(dm.head(15))

print('\nAyo urutkan 5 film terbaik diatas menurut versimu sendiri')

d = UrutFilm()
d.urut()
dl = pd.DataFrame({'Top Movies':d.display()})
print('\n',dl.head())

print('Inilah urutan 5 film terbaik di tahun 2020 versi mu!')

Selamat Datang di Program Urutan Film Terbaik 2020

Berikut ini adalah urutan 10 besar film terbaik di tahun 2020 versi imdb
                      Movies     Votes
0                      Tenet  4,76,083
1                       Soul  3,15,029
2          Wonder Woman 1984  2,58,696
3              Birds of Prey  2,31,720
4          The Invisible Man  2,20,635
5            A Quiet Place 2  2,14,958
6                 Extraction  1,95,446
7   The Trial of the Chicago  1,73,224
8               Enola Holmes  1,65,032
9      Promising Young Woman  1,64,154
10             The Old Guard  1,59,892
11         Bad Boys for Life  1,57,487
12                 Nomadland  1,53,624
13              Palm Springs  1,52,427
14             Another Round  1,47,748

Ayo urutkan 5 film terbaik diatas menurut versimu sendiri

Tekan 1 untuk mengurutkan daftar film dari atas kebawah
atau
Tekan 2 untuk mengurutkan daftar film dari bawah keatas
1
Tuliskan judul film urutan ke-1: Soul
Tuliskan judul film urutan ke-2: Birds
Tuliskan judul film urutan ke-3: Nomadand
Tuliskan judul film urutan ke-4: Another round
Tuliskan judul film urutan ke-5: Tenet

       Top Movies
0           Soul
1          Birds
2       Nomadand
3  Another round
4          Tenet
Inilah urutan 5 film terbaik di tahun 2020 versi mu!